.bacground-top {
  position: relative;
  height: 400px;
  width: 100%;
  padding-top: 60px;
  overflow: hidden;
  background-image: url("../../assets/images/global/bg.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.bacground-top::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(0deg, var(--main-color), var(--second-color));
  opacity: 0.25;
  z-index: -2;
}

.bacground-top .background-content {
  width: 100%;
}

.bacground-top .background-content h4 {
  font-size: 32px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: var(--font-bold);
  font-weight: 700;
  margin-bottom: 10px;
}

[dir="rtl"] .bacground-top .background-content h4 {
  letter-spacing: 0px;
}

.bacground-top .background-content p {
  font-size: 16px;
  line-height: 2;
  font-family: var(--font-regular);
  text-transform: capitalize;
}

.bacground-top .background-content p span {
  color: #fff;
}