.partners-page {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.partners-section {
    position: relative;
    padding: 80px 0;
    padding-top: 80px;
    padding-top: 80px;
    padding-top: 40px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.partners-page .partners-section .title {
    display: block;
    text-align: center;
}

.partners-page .partners-section .desc {
    text-align: center;
}

.partners-section .cards-section .card {
    width: 100%;
}

.partners-section .cards-section .card .card-info:last-child {
    width: 100%;
}