/* ! Defaults */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/* Arabic-Fonts */
@font-face {
  font-family: "Kufi-Bold";
  src: url(assets/fonts/Kufi-Bold.ttf);
}

@font-face {
  font-family: "Kufi-Regular";
  src: url(assets/fonts/Kufi-Regular.ttf);
}

/* Main Values */
:root {
  --font-bold: "Roboto Condensed", sans-serif;
  --font-regular: "Roboto Condensed", sans-serif;
  --main-color: #2c85ab;
  --second-color: #0e9b49;
  --text-color: #132c37;
}

[dir="rtl"]:root {
  --font-bold: "Kufi-Bold", sans-serif;
  --font-regular: "Kufi-Regular", sans-serif;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #a7a7a7;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

* {
  transition: all 0.1s ease-in-out;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

html {
  direction: ltr;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: var(--font-regular);
  color: var(--text-color);
  text-align: left;
  cursor: default;
}

[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

img {
  object-fit: cover;
}

.stop-scrolling {
  overflow: hidden;
}

.stop-scrolling::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #00000099;
  z-index: 9999;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
input,
textarea,
select,
label,
table,
ul,
li {
  font-family: var(--font-regular);
  color: var(--text-color);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}

input {
  border: none;
  outline: none;
  font-family: var(--font-regular);
  color: var(--text-color);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

img {
  pointer-events: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main-btn {
  background: linear-gradient(118deg,
      var(--main-color) 25%,
      var(--second-color) 75%);
  background-repeat: no-repeat;
  color: #fff;
  padding: 10px 25px;
  line-height: 1.5;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font-bold);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

[dir="rtl"] .main-btn {
  padding: 5px 25px;
}

.main-btn:hover {
  background: transparent;
  outline: 2px solid #fff;
}

.second-btn {
  background: var(--second-color);
  color: #fff;
  padding: 5px 25px;
  line-height: 2;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font-bold);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.second-btn:hover {
  background: transparent;
  color: var(--second-color);
  outline: 2px solid var(--second-color);
}

.third-btn {
  background: var(--main-color);
  color: #fff;
  padding: 5px 25px;
  line-height: 2;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--font-bold);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.third-btn:hover {
  background: transparent;
  color: var(--main-color);
  outline: 2px solid var(--main-color);
}

.typed {
  font-size: 82px;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 15px;
  text-transform: capitalize;
  background: linear-gradient(118deg,
      var(--main-color) 25%,
      var(--second-color) 75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animateText 3s linear infinite;
  background-size: 200% 100%;
}

.desc {
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px;
  text-transform: capitalize;
  width: 100%;
  font-weight: 700;
  margin-bottom: 50px;
  letter-spacing: 1px;
  line-height: 2;
}

.fixed-logo {
  position: absolute;
  top: 50px;
  left: -100px;
  width: 300px;
  height: 200px;
  opacity: 0.1;
  z-index: 1;
}

.fixed-logo.fixed-right {
  left: auto;
  right: -100px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 16px;
  color: var(--main-color);
}

.swiper-pagination-bullet-active {
  background: var(--main-color);
}

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }

  .title {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }

  .typed {
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}