.solutions-page {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.solutions-page .solutions-section {
    padding: 100px 0px;
}

.solutions-page .solutions-section .title {
    display: block;
    text-align: center;
}

.solutions-page .solutions-section .desc {
    text-align: center;
}

.solutions-section .cards-section .card {
    width: 100%;
}